:root {
    font-size: 65.5%;


    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);


    // GRADENTS

    --gradient-light-slate-blue: hsl(252, 100%, 67%);
    --gradient-light-loyal-blue: hsl(241, 81%, 54%);

    --gradient-violet-blue: hsla(256, 72%, 46%, 1);
    --gradient-persian-blue: hsla(241, 72%, 46%, 0);

    // Neutral

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'HankenGrotesk', sans-serif;
    font-size: 1.8em;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}